#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

h1 {
  margin: 0;
  padding-top: 5vh;
  height: 15vh;
}

.tasks {
  margin: 0;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.task {
  height: 15vh;
  margin-bottom: 20px;
}